ul.tabs {
	list-style: none;		
	padding-bottom:2px;
	padding-left: 3px;	
	margin-left: 188px;
	float: left;
	height:43;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;	
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFA500, endColorstr=#FFC04D)";
	/*Como sabemos o IE é sempre o problema dos desenvolvedores. Para utilizar um efeito Gradiente do Css3 no IE é necessário acrescentar esta linha*/
	-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFA500,
		endColorstr=#FFC04D );
	/*IE 5.5 - 7  ------ Esta linha faz com que o efeito gradiente do Css3 funciona em versões antigas do IE*/
	background: -moz-linear-gradient(top, #FFA500, #FFC04D) repeat-X;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFA500),
		to(#FFC04D) ) repeat-X;
}
 
ul.tabs li {
	float: left;
	margin: 2px;
	padding: 1px;	
	line-height:10px;	
	border-left: none;	
	margin-bottom: -10px;
	overflow: hidden;
	position: relative;
    
}
 
ul.tabs li a {
	text-decoration: none;
	color: black;
	font: bold;
	display: block;
	font-size: 1.2em;
	font-family: arial;
	padding: 0 20px;	
	outline: none;
}
 
ul.tabs li.active a
	/*Deixa a cor da fonte laranja assim que aba se torna ativa*/ {
	color: black;
}
 

 
html ul.tabs li.active {
	color: black;
	background: #1abc9d;	
	
	/* a aba aparece com o fundo branco quando selecionada*/
	
	
}
 
html ul.tabs li.active a:hover
	/*--Faz a lista ativa nao obedecer as propriedades do hover--*/ {
	color: black;
	
	
}
 
.tab_container {
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	padding-bottom: 90px;
}
 
.cont_tab {
	
	margin: 20px;
	padding-right: 30px;
	padding-bottom: 15px;	
	font-size: 1.2em;
	border-top-width: 5px;
}
 
fieldset {
	width: 300px;
}
 
#btnInserir {
	width: 100%
}